body {
	margin: 30;
	background-color: #E84A5F;
}

h1 {
	padding: 10;
	border-bottom-style: solid;
	border-bottom-color: white;
	color: white;
	font-size: 60;
	font-family: Georgia, serif;
}

h2 {
	color: white;
	font-size: 30;
	font-family: Georgia, serif;
}

input {
	margin-left: 20;
	margin-bottom: 20;
	margin-right: 5;
	color: #E84A5F;
	font-family: sans-serif;
	font-weight: bold;
}

bdi {
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}